<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
		<meta charset="UTF-8"></meta>
		<title>WashFast</title>	

		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>		

		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>		

		<script
			src="maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		

		<script src="code.jquery.com/jquery-1.11.1.min.js">
		</script>		

	</head>


	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column" align="center">
						<h1 style="color:Gray;"> ¡Bienvenido! </h1>
						
						<div class="col-md-6 intro-info order-md-first order-last">
							<h2 style="color:DodgerBlue;" align="left"> WashFast <br> <span style="color:Black;"> a tu servicio</span></h2>
							<div>
								<li class="active" style="color:DodgerBlue;" > <a th:href="@{/login}" >Iniciar Sesión</a></li>
							</div>
						</div>
				       <div class="col-md-6 intro-img order-md-last order-first">
				       		<img th:src="@{/imagenes/WashFast.jpeg}" alt="logo WashFast" style="width:700px;height:350px" class="img-fluid">
				       </div>
						
						</img>
					</div>
				</div>
			</form>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</body>
  
</html>