<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
		<meta charset="UTF-8"></meta>
		<title>Lista Reclamos</title>	

		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>		

		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>		

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		

		<script src="code.jquery.com/jquery-1.11.1.min.js">
		</script>		

	</head>


	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<a style="border-bottom-color: green" th:href="@{/reclamo/irRegistrar}"
							id="add-row" type="button" class="btn btn-primary btn-md left block">
							<span class="glyphicon gliphicon-plus"> RECLAMO</span>
						</a>
						
<!-- 						<a style="border-bottom-color: green" th:href="@{/pet/irBuscar}" -->
<!-- 							id="add-row" type="button" class="btn btn-primary btn-md left block"> -->
<!-- 							<span class="glyphicon gliphicon-search"> Buscar </span> -->
<!-- 						</a> -->
						
						<table class="table table-bordered table-hover table-striped" id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">CODIGO</th>
									<th class="text-center">DETALLE RECLAMO</th>
									<th class="text-center">FECHA</th>
									<th class="text-center">CLIENTE</th>
									<th class="text-center">LOCAL</th>
									<th class="text-center">OPERACION</th>
									<th class="text-center">OPERACION</th>
								</tr>
							</thead>
							
							<tbody>
								<tr th:each="r:${listaReclamos}">
									<td th:text="${r.idReclamo}"></td>
									<td th:text="${r.detailReclamo}"></td>
									<td th:text="${#dates.format(r.detailDateReclamo, 'dd/MM/yyyy')}"></td>
									<td th:text="${r.cliente.idCliente}"></td>
									<td th:text="${r.local.nameLocal}"></td>
									
									<td><a th:href="@{/reclamo/eliminar?id=}+${r.idReclamo}">Eliminar</a></td>
									<td><a th:href="@{'/reclamo/modificar/'+${r.idReclamo}}">Modificar</a></td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
			</form>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>