<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
		<meta charset="UTF-8"></meta>
		<title>Lista Pedidos</title>	

		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>		

		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>		

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		

		<script src="code.jquery.com/jquery-1.11.1.min.js">
		</script>		

	</head>


	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<a style="border-bottom-color: green" th:href="@{/pedido/irRegistrar}"
							id="add-row" type="button" 
							class="btn btn-primary btn-md left block">
							<span class="glyphicon glyphicon-plus"> PEDIDO</span>
						</a>
						
						<table class="table table-bordered table-hover table-striped" id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">ID</th>
									<th class="text-center">FECHA PEDIDO</th>
									<th class="text-center">FECHA ENTREGA</th>
									<th class="text-center">CANTIDAD</th>
									<th class="text-center">CLIENTE</th>
									<th class="text-center">DETALLE</th>
									<th class="text-center">REPARTIDOR</th>
									<th class="text-center">MONTO FINAL</th>
									<th class="text-center">OPERACION</th>
									<th class="text-center">OPERACION</th>
								</tr>
							</thead>
							
							<tbody>
								<tr th:each="p:${listaPedidos}">
								
									<td th:text="${p.idPedido}"></td>
									<td th:text="${#dates.format(p.fechaPedido, 'dd/MM/yyyy')}"></td>
									<td th:text="${#dates.format(p.fechaEntrega, 'dd/MM/yyyy')}"></td>
									<td th:text="${p.cantidad}"></td>
									<td th:text="${p.cliente.idCliente}"></td>
									<td th:text="${p.detalle.idDetalle}"></td>
									<td th:text="${p.repartidor.idRepartidor}"></td>
									<td th:text="${p.detalle.monto*p.cantidad+2}"></td>
									<td><a th:href="@{/pedido/eliminar?id=}+${p.idPedido}">Eliminar</a></td>
									<td><a th:href="@{'/pedido/modificar/'+${p.idPedido}}">Modificar</a></td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
			</form>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>