<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
		<meta charset="UTF-8"></meta>
		<title>Local</title>	

		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>	

		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">

		</link>


		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>

		
		<script type="text/javascript" th:src="@{/js/local.js}"></script>	

	</head>


	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<form th:action="@{/local/registrar}" method="post" th:object="${local}">
				<div class="form-group">
				
					<label for="idLocal">ID:</label>
					<input type="text" class="form-control" th:field="*{idLocal}"></input>
					
					<div class="form-group">
					
						<label for="nombreLocal">NOMBRE: </label> 
 						<input type="text" class="form-control" th:field="*{nombreLocal}" id="nombre"></input> 
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nombreLocal')}"
 						th:errors="*{nombreLocal}">
 						</div>
 						
						
						<label for="direccion">DIRECCION: </label> 
						<input type="text" class="form-control" th:field="*{direcionLocal}" id="direccion"></input> 
 						<div class="alert alert-danger" th:if="${#fields.hasErrors('direccionLocal')}"
 						th:errors="*{direccionLocal}"> 
 						</div>  																


						<label for="telefono">TELEFONO: </label> 
 						<input type="text" class="form-control" th:field="*{telefonoLocal}" id="telefono"></input> 
						<div class="alert alert-danger" th:if="${#fields.hasErrors('telefonoLocal')}"
 						th:errors="*{telefonoLocal}">
 						</div>						  
						
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/local/listar" class="btn btn-danger">Cancelar</a>
				
			</form>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>