<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8"></meta>
<title>Prenda</title>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
</link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>

<script type="text/javascript" th:src="@{/js/race.js}"></script>

</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<form th:action="@{/prenda/registrar}" method="post" th:object="${prenda}">
			<div class="form-group">
				<label for="idprenda">ID:</label> 
				<input type="text" class="form-control" th:field="*{idPrenda}" disabled="false"></input>

				<div class="form-group">
					<label for="nombre">TIPO:</label> 
					<input type="text" class="form-control" th:field="*{namePrenda}" id="nombre"></input>

					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('namePrenda')}" th:errors="*{namePrenda}">
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Aceptar</button>
			<a href="/prenda/listar" class="btn btn-danger">Cancelar</a>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>










